<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="WPFUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="admin@gmail.com"/>
    <add key="senderDisplayName" value="Maksim Krysanau"/>
  </appSettings>
  <connectionStrings>
    <add name="TournamentManagement" connectionString="Data Source=DESKTOP-71S60VI\SQLEXPRESS;Initial Catalog=TournamentManagement;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" port="25" enableSsl="false" />
      </smtp>
      
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
    <WPFUI.Properties.Settings>
        <setting name="DefaultLanguage" serializeAs="String">
            <value>ru-RU</value>
        </setting>
    </WPFUI.Properties.Settings>
  </userSettings>
</configuration>